

.box1{
    background-color: rgb(214, 65, 19);
}

.box2{
    background-color: rgb(233, 187, 37);
}

.box3{
    background-color: rgb(9, 255, 0);
}

.box4{
    background-color: rgb(0, 238, 255);
}

.box5{
    background-color: rgb(6, 93, 224);
}

.box6{
    background-color: rgb(91, 75, 151);
}

.box7{
    background-color: rgb(151, 53, 160);
}

.box8{
    background-color: rgb(230, 29, 180);
}